.feed{

        display: flex;
        flex: .5;
        padding: 30px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        width: 100%;
        
}

.story__reel{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 30px 12px 30px 20px;
    width: 100%;
    margin: auto;
}